<template name="industryIcon">
    <div class="icons">
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            {{#each icons}}
                                {{> iconButton}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>